<style>
    #write-log .content {
        height: 130px;
        margin: 15px auto;
        margin-left: 50px;
        margin-right: 50px;
        border: 1px solid #ddd;
        outline: none;
        overflow-y: scroll;
    }

    #write-log .hb {
        float: left;
        margin-left: 50px;
    }

    #write-log .tj {
        float: right;
        margin-right: 50px;
    }

    #write-log .tj button {
        width: 90px;
    }
</style>
<div id='write-log'>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="" class="form-horizontal form-row-seperated">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-1">类型</label>
                    <div class="col-md-2">
                        <select class="bs-select form-control">
                                <option value="day">日报</option>
                                <option value="week">周报</option>
                                <option value="month">月报</option>
                        </select>
                    </div>
                </div>
                <div contenteditable="true" class="content">说点什么吧...</div>
                <div>
                    <div class="hb"><a>汇报给...</a></div>
                    <div class="tj"><button type="button" class="btn btn-success">提 交</button></div>
                </div>
            </div>
        </form>
    </div>
</div>